@font-face {
    font-family: "chaririya";
    src: url("chaririya.eot"); /* IE9 */
    src: url("chaririya.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("chaririya.woff") format("woff"), /* chrome、firefox */
    url("chaririya.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("chaririya.svg#chaririya") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


